---
const title = Astro.props.title || "Alicia Stepp Photography";
const description = Astro.props.description || "";
import "./Service.css";
---

<div class="service">
  <h3 class="heading color:tint">{title}</h3>
  <p>
    {description}
  </p>
</div>
