---
import "./Scroller.css";
---

<section class="scroller:outer" id="scroller-outer">
  <div class="scroller:inner" id="scroller-inner">
    <slot />
  </div>
</section>

<script src="./Scroller.js"></script>
