@layer reset, fonts, variables, theme, globals, grids, typography;
/* ============================================================== */
/* ! BEGIN LAYER: RESET */
/* ============================================================== */
@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  9. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}
/* ============================================================== */
/* END LAYER: RESET */
/* ============================================================== */

/* ============================================================== */
/* ! BEGIN LAYER: FONTS */
/* ============================================================== */
@layer fonts {
  /* HEADING FONT: FATFRANK */
  /* ============================================================ */
  @font-face {
    font-family: "FatFrank";
    src: url("/fonts/fatfrank/fatfrank.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* ============================================================ */
  /* CALL TO ACTION FONT: SILKA MONO */
  /* ============================================================ */
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-regular-webfont.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-bold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-black-webfont.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-regularitalic-webfont.woff2")
      format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-bolditalic-webfont.woff2")
      format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Silka Mono";
    src: url("/fonts/silka-mono/silkamono-blackitalic-webfont.woff2")
      format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
}
/* ============================================================== */
/* END LAYER: FONTS */
/* ============================================================== */

/* ============================================================== */
/* ! BEGIN LAYER: VARIABLES */
/* ============================================================== */
@layer variables {
  /* COLORS: */
  :root {
    /* GRAYSCALE: */
    --color-black-13: #222;
    --color-black: #000;
    --color-gray-20: #333;
    --color-gray-67: #aaaaaa;
    --color-gray-80: #cccccc;
    --color-gray-96: #f5f5f5;
    --color-white: #fff;
    /* INDIAN RED */
    --color-indian-red-shade-30: #933639;
    --color-indian-red-shade-60: #541f21;
    --color-indian-red-tint-20: #db7175;
    --color-indian-red-tint-40: #e49497;
    --color-indian-red: #d24d52;
    /* SPANISH ORANGE */
    --color-spanish-orange-shade-20: #be5410;
    --color-spanish-orange-shade-40: #8e3f0c;
    --color-spanish-orange-tint-20: #f18743;
    --color-spanish-orange-tint-40: #f4a572;
    --color-spanish-orange: #ed6914;
    /* VIRIDIAN: */
    --color-viridian-shade-30: #375e4c;
    --color-viridian-shade-60: #1f362c;
    --color-viridian-shade-80: #101b16;
    --color-viridian-tint-20: #719e8a;
    --color-viridian-tint-40: #95b6a7;
    --color-viridian-tint-60: #b8cfc5;
    --color-viridian-tint-90: #edf3f0;
    --color-viridian: #4e866d;
    /* XANTHOUS: */
    --color-xanthous-shade-20: #c89e56;
    --color-xanthous-shade-40: #967741;
    --color-xanthous-tint-20: #fbd189;
    --color-xanthous-tint-40: #fcdda7;
    --color-xanthous: #fac66c;
  }

  /* ELEMENT SPACING: */
  :root {
    --content-width: 82rem;
    --content-width--blog: 65rem;
    --gap--inner: clamp(0.5rem, 2vw, 1rem);
    --gap--outer: clamp(1rem, 5vw, 2rem);
    --padding-block--inner: clamp(0.5rem, 2vw, 1rem);
    --padding-block--outer: clamp(0.5rem, 5vw, 2rem);
    --padding-inline--inner: clamp(0.5rem, 2vw, 1rem);
    --padding-inline--outer: clamp(0.5rem, 5vw, 2rem);
    --padding--sm: 0.5rem;
    --padding--default: 1rem;
  }

  /* FONTS */
  :root {
    --font-headings: "FatFrank", sans-serif;
    --font-body: "Hanken Grotesk", sans-serif;
    --font-call-to-action: "Silka Mono", monospace;
  }
}
/* ============================================================== */
/* END LAYER: VARIABLES */
/* ============================================================== */

/* ============================================================== */
/* ! BEGIN LAYER: THEME */
/* ============================================================== */
@layer theme {
  :root {
    --theme-text-color--default: var(--color-viridian-shade-80);
    --theme-text-color--shade: var(--color-black-13);
    --theme-text-color--tint: var(--color-viridian-shade-60);
    --theme-call-to-action-color--default: var(--color-spanish-orange-shade-20);
    --theme-background-color--default: var(--color-viridian-tint-90);
    --theme-background-color--shade: var(--color-gray-96);
    --theme-background-color--tint: var(--color-white);
    --theme-border-color--default: var(--color-viridian-tint-20);
    --theme-accent-color--default: var(--color-xanthous);
    --theme-logo-background-color: var(--color-xanthous);
    --theme-logo-middleground-color: var(--color-xanthous-shade-40);
    --theme-logo-foreground-color: var(--color-viridian-shade-30);
    --theme-surface-color--middleground: var(--color-viridian-shade-60);
    --theme-surface-color--foreground: var(--color-viridian-shade-30);
    --theme-surface-color--background: var(--color-viridian-shade-80);
    --theme-color-white: var(--color-white);
    --theme-color-black: var(--color-black-13);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-text-color--default: var(--color-viridian-tint-60);
      --theme-text-color--shade: var(--color-viridian-tint-40);
      --theme-text-color--tint: var(--color-white);
      --theme-call-to-action-color--default: var(--color-xanthous);
      --theme-background-color--default: var(--color-viridian-shade-80);
      --theme-background-color--shade: var(--color-black-13);
      --theme-background-color--tint: var(--color-viridian-shade-60);
      --theme-border-color--default: var(--color-viridian-shade-30);
      --theme-logo-background-color: var(--color-viridian-shade-60);
      --theme-logo-middleground-color: var(--color-viridian-shade-80);
      --theme-logo-foreground-color: var(--color-xanthous);
    }
  }
}
/* ============================================================== */
/* ! END LAYER: THEME */
/* ============================================================== */

@layer globals {
  html {
    background: var(--theme-background-color--default);

    scroll-behavior: smooth;
  }

  .wrapper {
    padding-block: var(--padding-block--outer);
  }

  /* HELPERS: */
  /* ============================================================ */
  @media (min-width: 640px) {
    .mobile-only {
      display: none !important;
    }
  }
}

@layer grids {
  .flex\:columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .flex\:columns--large-gap {
    gap: 2rem;
  }

  .flex\:row {
    display: flex;
    gap: var(--gap--outer);
  }

  .flex\:wrap {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap--outer);
  }
}

@layer typography {
  /* BASE ELEMENTS: */
  /* ============================================================ */
  html,
  body,
  input {
    color: var(--theme-text-color--default);
    font-family: var(--font-body);
  }

  a {
    font-family: var(--font-call-to-action);
    font-size: 0.875em;
  }

  a:not(.button) {
    color: var(--theme-call-to-action-color--default);
    font-weight: 600;
  }

  a.no-underline {
    text-decoration: none;
  }

  button,
  .button {
    font-family: var(--font-call-to-action);
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  h1 {
    font-size: clamp(2rem, 10vw, 5.5rem);
    font-weight: normal;
    line-height: 1.2;
  }

  h2 {
    color: var(--theme-text-color--tint);
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: normal;
    line-height: 1.2;
  }

  h3,
  .h3 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: normal;
    line-height: 1.2;
  }

  small {
    font-size: 0.5em;
  }

  strong {
    font-weight: 900;
  }

  /* ============================================================ */
  /* CLASSES */
  /* ============================================================ */

  .heading {
    font-family: var(--font-headings);
    font-weight: normal;
  }

  .italic {
    font-style: italic;
  }

  .mono {
    font-family: var(--font-call-to-action);
  }

  .navigation-link {
    font-size: 0.875rem;
    font-family: var(--font-call-to-action);
    font-weight: 500;
    text-transform: uppercase;
  }

  .paragraph--large {
    font-size: clamp(1.1rem, 2vw, 1.25rem);
  }

  .paragraph--small {
    font-size: clamp(0.875rem, 1.5vw, 0.95rem);
  }

  /* ============================================================ */
}

@layer color {
  .background--shade {
    background-color: var(--theme-background-color--shade);
  }

  .background--tint {
    background-color: var(--theme-background-color--tint);
  }

  .color\:tint {
    color: var(--theme-text-color--tint);
  }
}
