---
import Container from "../../components/Container/Container.astro";
import Service from "../../components/Service/Service.astro";
---

<section class="wrapper">
  <Container class="flex:columns flex:columns--large-gap">
    <header class="flex:columns">
      <h2 class="heading">Services offered</h2>
    </header>
    <section class="flex:wrap">
      <Service
        title="E-commerce website design and development ðŸ’¸"
        description="Whether you're creating or refreshing your Shopify store, adding products and a checkout experience to your WordPress site, or building something from scratch, I can lend a hand. I can help you increase traffic, enhance your conversion rate or rank higher on google."
      />
      <Service
        title="WordPress blog theme design and development ðŸ“"
        description="I can build a WordPress site from start to finish: picking the right host, setting up the domain, and doing everything else you need to get the WP site up and running. Already have a site? No problem. I'm equally as proficient as adding to, optimizing, updating and upgrading existing WordPress sites."
      />
      <Service
        title="JAMStack website or web app creation âš¡ï¸"
        description="I also specialize in JAMStack websites. JAMStack stands for JavaScript, APIs and Markup and sites built in this way are super fast, SEO-friendly, and modern as heck."
      />
      <Service
        title="Mobile / responsive site design and creation ðŸ“±/ðŸ’»"
        description="This goes without saying, but I'll say it: any site built by me will be responsive to all screen sizes and devices. Whether someone is viewing your website on their phone, tablet, computer or on a jumbotron, I'll make sure it looks good!"
      />
      <Service
        title="Custom software design, development and more ðŸ¤©"
        description="If you need something completely different from everything you've seen so far; I got you! Feel free to send me an email with whatever you need and, if I can help, I will!"
      />
    </section>
  </Container>
</section>
